ul {                                  
    text-align: center;                  
    list-style: none;               
    }
ul li {                                
    font: bold 12px/18px sans-serif; 
    display: inline-block;            
    position: relative;              
    padding: 15px 58px;           
    background: rgb(161, 161, 161);
    cursor: pointer;                  
    }
ul li:hover {                        
    background: rgb(111, 184, 233);            
    color: #fff;              
    }
ul li ul {                            
    padding: 0;                       
    position: absolute;         
    top: 48px;                        
    left: -10000px;                 
    width: 150px;  
    background: #b7e9f8;                
    }
ul li ul li {                      
    display: block;               
    color: rgb(0, 0, 0);                   
    }
ul li ul li:hover { background: #666; }
ul li:hover ul {                 
    display: block;               
    left :0px;                    
    }



.item1 {
    grid-area: header;
    background: #24a8f5;
  }

  .nav {
    grid-area: nav;
    background: none;
  }
  .item2 {
    grid-area: menu;
    background: #727272;
  }
  .item3 {
    grid-area: main;
    background: #000000;
  }

.item4 {
  grid-area: main2;
  background: #000000;
}

.item5 {
    grid-area: main3;
    background: #000000;
  }
  
  .item6 {
    grid-area: footer;
    background: #24a8f5;
  }
  
  .container {
    display: grid;
    grid-template-areas:
      "header header header header"
      "nav nav nav nav"
      "menu main main2 main3"
      "menu footer footer footer";
    gap: 10px;
    padding: 10px;
  }
  
  .container > div {
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 40px 0;
    font-size: 30px;
  }

body{
    padding-left: 200px;
    padding-right: 200px;
}